/* Global Styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

.project-table {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  max-width: 800px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

/* Pagination Styles */
.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  position: relative; /* Positioned relative to parent */
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #145a78;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #77b2f1;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #8c65e7;
}

/* Responsive Table */
@media (max-width: 768px) {
  .project-table {
    width: 100%;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 8px;
  }
}

/* Responsive Pagination */
@media (max-width: 768px) {
  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .pagination button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
